/* Fonts */
@font-face {
	font-family: 'Folks-Normal-webfont';
	src: url('Folks-Normal-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Folks-Light-webfont';
	src: url('Folks-Normal-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Folks-Bold-webfont';
	src: url('Folks-Normal-webfont.woff') format('woff');
}

/* Color */
:root {
	--skin: rgb(243,197,153);
	--skin-transparent: rgba(243,197,153,0.8);
}


body {
	font-size: 2em;
	color: white;
    background: url("pexels-pixabay-33779.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 450px;
	background-color: black;
}

h1 {
	font-family: 'Folks-Bold-webfont';
	text-align: center;
	color: var(--skin);
}

h2 {
	margin-left: 60px;
}

table {
	margin-left: 5%;
	margin-right: 25%;
	width: 70%;
	background-color: var(--skin-transparent);
}

th {
	font-family: 'Folks-Normal-webfont';
	text-align: right;
	color: black;
}

td {
	font-family: 'Folks-Light-webfont';
	text-align: left;
	padding-top: 8px;
	padding-left: 12px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: rgba(0,0,0,0.5);
}