/* Fonts */
@font-face {
	font-family: 'Folks-Normal-webfont';
	src: url('Folks-Normal-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Folks-Light-webfont';
	src: url('Folks-Normal-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Folks-Bold-webfont';
	src: url('Folks-Normal-webfont.woff') format('woff');
}

/* Color */
:root {
	--skin: rgb(243,197,153);
	--skin-transparent: rgba(243,197,153,0.8);
}


body {
	font-size: 50px;
	font-family: 'Folks-Light-webfont';
	color: var(--skin);
	background: url("background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 450px auto;
	background-color: black;
}
@media only screen and (max-width: 1024px) {
	body {
		background-position: top right 5%;
		background-size: auto 250px;
	}
}

header {
	height: 183px;
}

h1 {
	font-family: 'Folks-Bold-webfont';
	text-align: center;
	color: var(--skin);
}
@media only screen and (max-width: 1024px) {
	h1 {
		text-align: left;
		margin-left: 5%;
	}
}

h2, h3 {
	text-align: center;
}

table {
	margin-left: 5%;
	margin-right: 25%;
	padding-left: 5px;
	width: 70%;
	background-color: var(--skin-transparent);
}
@media only screen and (max-width: 1024px) {
	table {
		width: 90%;
		background-color: var(--skin-transparent);
	}
}

th {
	font-family: 'Folks-Normal-webfont';
	text-align: right;
	color: black;
	padding-bottom: 8px;
	padding-left: 12px;
}

td {
	font-size: 45px;
	font-family: 'Folks-Light-webfont';
	text-align: left;
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 12px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-shadow: 0 0 5px black;
}
@media only screen and (max-width: 1024px) {
	a:hover {
		color: black;
	}
}

footer {
	line-height: 150px;
	font-size: 30px;
	height: 150px;
	text-align: center;
}


.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%; 
}




